name: github-actions-demo
on: [ push ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: terra-init
        run: terraform init
      - id: terra-plan
        run: terraform plan
      - id: terra-apply
        run: terraform apply -auto-approve
      - id: upload-app.py
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: ./app.py
  run:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - id: download-app.py
        uses: actions/download-artifact@v2
        with:
          name: app
      - id: run-app.py
        run: ./app.py
